<MudDialog>
    <DialogContent>
        <h3>Title</h3>
        <MudTextField @bind-Value="TempToDos.Title"></MudTextField>
        <br/>
        <h3>Comments</h3>
        <MudTextField @bind-Value="TempToDos.Comment"></MudTextField>
    </DialogContent>
    <DialogActions>
        <MudButton @onclick="Add" Variant="Variant.Filled" Color="Color.Success">Add</MudButton>
        <MudButton OnClick="Cancel">Cancel</MudButton>
    </DialogActions>
</MudDialog>

@code {

    [Inject]
    private IDialogService DialogService { get; set; }

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }

    public ToDos TempToDos { get; set; } = new();
    public List<ToDos>? ToDos;

    protected override void OnInitialized()
    {
        using (var context = new MyDbContext())
        {
            context.Database.EnsureCreated();
            ToDos = context.ToDos.Select(x => x).ToList();
        }
    }

    private void Add()
    {
        using (var context = new MyDbContext())
        {
            if (TempToDos.Title.Length > 10 || TempToDos.Comment.Length > 10)
            {
                DialogService.ShowMessageBox(
                    "Test",
                    "You have reached max capacity of characters, please use less to proceed.",
                    "Okay");
            }
            else
            {
                context.ToDos.Add(new ToDos
                {
                    Title = TempToDos.Title,
                    Comment = TempToDos.Comment,
                    Created = DateTime.Now,
                    IsDone = false
                });
                context.SaveChanges();
            }
        }
        MudDialog.Close(DialogResult.Ok(true));
    }

    void Cancel()
    {
        MudDialog.Close();
    }


}