@page "/monday"

<h3>Monday</h3>

<textarea ></textarea>
<textarea ></textarea>
<button @onclick="Created()">create</button>

@code {

    public ToDos? TempToDos { get; set; }

    protected override void OnInitialized()
    {
    }

    private EventCallback Created()
    {
        ToDos todo = new ToDos()
        {
            Title = TempToDos.Title,
            Comment = TempToDos.Comment,
            Created = DateTime.Now,
            IsDone = false
        };
        return EventCallback.Empty;
    }

}