@page "/monday"
@using Microsoft.Extensions.WebEncoders.Testing
@using Microsoft.EntityFrameworkCore.Internal

<h3>Monday</h3>

<MudTextField @bind-Value="TempToDos.Title"></MudTextField>
<MudTextField @bind-Value="TempToDos.Comment"></MudTextField>
<MudButton @onclick="Created" Variant="Variant.Filled" Color="Color.Success">Create</MudButton>

@foreach (var test in ToDos)
{
    <MudCheckBox @bind-Checked="@TempToDos.IsDone" T="bool" Color="Color.Primary" >ToDo: @test.Title</MudCheckBox>
}


@code {

    ToDos TempToDos = new ToDos();
    public List<ToDos>? ToDos;

    protected override void OnInitialized()
    {
        using (MyDbContext context = new MyDbContext())
        {
            context.Database.EnsureCreated();
            ToDos = context.ToDos.Select(x => x).ToList();
        }
    }

    private async Task Created()
    {
        await using (MyDbContext context = new MyDbContext())
        {
            context.ToDos.Add(new ToDos()
            {
                Title = TempToDos.Title,
                Comment = TempToDos.Comment,
                Created = DateTime.Now,
                IsDone = false
            });
            context.SaveChanges();
            ToDos = context.ToDos.Select(x => x).ToList();
        }
    }

}