@page "/monday"
@using MyToDoAppMudBlazor.Shared

@inject IDialogService DialogService


<h3>Monday</h3>


<MudFab @onclick="OpenDialog" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add"/>
<br/>


@foreach (var test in ToDos)
{
    <br/>
    <MudCheckBox @bind-Checked="@test.IsDone" T="bool" Color="Color.Primary">
        ToDo: @test.Title
        <br/>
        Comment: @test.Comment
    </MudCheckBox>
    <br/>
}


@code {

    MudDialogInstance MudDialog;
    readonly ToDos TempToDos = new();
    public List<ToDos>? ToDos;
    private DialogResult? result;

    protected override void OnInitialized()
    {
        using (var context = new MyDbContext())
        {
            context.Database.EnsureCreated();
            ToDos = context.ToDos.Select(x => x).ToList();
        }
    }

    private async Task OpenDialog()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true, FullWidth = true };
        var dialog = DialogService.Show<AddNewToDoDialog>("Add new To Do", options);
        result = await dialog.Result;
        if (result.Data.Equals(true))
        {
            dialog.Close();
            OnInitialized();
        }
    }

}
