@page "/monday"
@using MyToDoAppMudBlazor.Shared

@inject IDialogService DialogService


<h3>Monday</h3>


<MudIconButton @onclick="OpenDialog" Color="Color.Success" Icon="@Icons.Filled.Add"></MudIconButton>


@foreach (var test in ToDos)
{
    <MudCheckBox @bind-Checked="@TempToDos.IsDone" T="bool" Color="Color.Primary">ToDo: @test.Title</MudCheckBox>
}


@code {
    
    readonly ToDos TempToDos = new();
    public List<ToDos>? ToDos;

    protected override void OnInitialized()
    {
        
        using (var context = new MyDbContext())
        {
            context.Database.EnsureCreated();
            ToDos = context.ToDos.Select(x => x).ToList();
        }
    }

    private void OpenDialog()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        DialogService.Show<AddNewToDoDialog>("Add new To Do", options);
        
    }

}