<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ToDoApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Monday">
                <span class="oi oi-sun" aria-hidden="true"></span> Monday
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Tuesday">
                <span class="oi oi-moon" aria-hidden="true"></span> Tuesday
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Wednesday">
                <span class="oi oi-rain" aria-hidden="true"></span> Wednesday
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Thursday">
                <span class="oi oi-laptop" aria-hidden="true"></span> Thursday
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Friday">
                <span class="oi oi-musical-note" aria-hidden="true"></span> Friday
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Saturday">
                <span class="oi oi-terminal" aria-hidden="true"></span> Saturday
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Sunday">
                <span class="oi oi-pin" aria-hidden="true"></span> Sunday
            </NavLink>
        </div>
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
